@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Variables de color */
:root {
    --color-bathroom: rgb(4, 169, 210);
    --color-bedroom: rgb(200, 109, 5);
    --color-kitchen: rgb(210, 186, 9);
    --color-living-room: rgb(245, 88, 88);
    --color-garden: rgb(48, 118, 8);
    --color-corridor: rgb(96, 186, 150);   
    --color-garage: rgb(48, 59, 58);
    --color-laundry: rgb(13, 75, 137);
    --color-study: rgb(103, 26, 219);
    --color-dining-room: rgb(31, 69, 221);
}


body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    font-size: 16px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

.grid-container{
    display: grid;
    max-width: 94rem;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 2rem;
}

.place-container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    padding: 2em;
    gap: 2em;
    box-shadow: 0 0 10px #0003;
    border-radius: 1ex;
    width: 26rem;
    background-color: white;
    border: 3px solid rgb(199, 199, 199)
}


.pictogram-wrapper {
    position: relative;
    display: inline-block;
}

.pictogram-wrapper::before {
    content: ' ';
    position: absolute;
    mix-blend-mode: color;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.place-container .pictogram{
    width: 10rem; 
    height: 10rem;
    filter: contrast(.9) drop-shadow(0 0 3px #0009);
}

.task-container .pictogram{
    width: 6rem; 
    height: 6rem;
    filter: contrast(.75) drop-shadow(0 0 3px #0009);
}

.task-container .pictogram-wrapper::before{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 1ex
}


.place-container h3{
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
    width: 14rem;
    text-shadow: 1px 1px 2px #0004;
}

.task-container {

}

.grid-small-icons{
    display: grid;
    grid-template-columns: repeat(auto-fit, 6rem);
    gap: 2rem;
}

/* Colores por lugar */
.place-bathroom .pictogram-wrapper::before { background-color: var(--color-bathroom); }
.place-bedroom .pictogram-wrapper::before { background-color: var(--color-bedroom); }
.place-kitchen .pictogram-wrapper::before { background-color: var(--color-kitchen); }
.place-living-room .pictogram-wrapper::before { background-color: var(--color-living-room); }
.place-garden .pictogram-wrapper::before { background-color: var(--color-garden); }
.place-corridor .pictogram-wrapper::before { background-color: var(--color-corridor); }
.place-garage .pictogram-wrapper::before { background-color: var(--color-garage); }
.place-laundry .pictogram-wrapper::before { background-color: var(--color-laundry); }
.place-study .pictogram-wrapper::before { background-color: var(--color-study); }
.place-dining-room .pictogram-wrapper::before { background-color: var(--color-dining-room); }

.place-bathroom h3 {color: var(--color-bathroom); }
.place-bedroom h3 {color: var(--color-bedroom); }
.place-kitchen h3 {color: var(--color-kitchen); }
.place-living-room h3 {color: var(--color-living-room); }
.place-garden h3 {color: var(--color-garden); }
.place-corridor h3 {color: var(--color-corridor); }
.place-garage h3 {color: var(--color-garage); }
.place-laundry h3 {color: var(--color-laundry); }
.place-study h3 {color: var(--color-study); }
.place-dining-room h3 {color: var(--color-dining-room); }
